@font-face {
    font-family: "Source Code Pro";
    src: url(../font/SourceCodePro-Medium.otf);
}

.clear-fix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Source Code Pro", "Ubuntu Mono", monospace;
    font-size: 0.75em;
    color: white;
    background-color: black;
}

h1#title {
    text-align: center;
}

div#log-container {
    float: right;
    margin: 15px;
    padding: 0;
    width: calc(100% - 560px);
}

div#log-wrapper {
    padding: 5px 10px;
    margin: 10px 0;
    background-color: gray;
    border-radius: 5px;
}

pre#log-content {

}

div#programs-list {
    float: left;
    margin: 15px;
    padding: 0;
    width: 500px;
}

.program-line {
    padding: 5px 10px;
    margin: 10px 0;
    background-color: gray;
    border-radius: 5px;
}

.program-line-name {

}

.program-line-text {

}

.program-line-state-text {

}

.program-line-fail-text {
    display: none;
    color: lightcoral;
}

.program-line-success-text {
    display: none;
    color: lawngreen;
}

.program-line-button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF !important;
    padding: 8px 12px;
    text-decoration: none !important;
    outline: 0 !important;
    cursor: pointer;
}

.program-line-button:disabled {
    border: solid 1px #404040;
    background: #505050;
}

.program-line-button-state-switch {
    display: inline-block;
    float: right;
    margin: 10px;
}

.program-line-button-update-config {
    display: inline-block;
    float: right;
    margin: 10px;
}

.program-line-content {
    /*display: flex;*/
    padding: 0;
    margin: 0;
}

.program-line-content-child {
    /*flex: 1;*/
    padding: 5px 10px;
    margin: 10px 0;
    min-height: 50px;
    background-color: darkgray;
    border-radius: 3px;
}

.program-line-config {
    /*margin-right: 5px;*/
}

.program-line-additional-controls {
    /*margin-left: 5px;*/
    display: none;
}

.program-line-input {
    padding: 0 4px;
    background-color: grey;
    /*color: black;*/
}

.program-line-config-auto-update {

}

.program-line-string-input {
    float: right;
}

.program-line-integer-input {
    float: right;
}

.program-line-float-input {
    float: right;
}

.program-line-boolean-input {

}